/* ------------ Global ------------ */

.media-content {
    overflow: hidden;
}

.is-primary {
    background-color: #293241 !important;
}

.hero-body {
    padding: 5rem 1.5rem;
}

.title, .link, label {
    color: #293241;
}

.is-left {
    text-align: left;
}

.is-right {
    text-align: right;
}

.is-horizontal-center {
    justify-content: center;
}

/* ------------ Button ------------ */

.is-dark {
    background-color: #EE6C4D !important;
}

/* ------------ Navbar ------------ */

.navbar a {
    color: #ffffff !important;
}

.navbar-start .navbar-item:hover,
.navbar-brand .navbar-item:hover {
    background-color: #EE6C4D !important;
}

.navbar {
    background-color: #293241 !important;
}

.navbar-burger span {
    color: #fff !important;
}

.navbar-menu .is-active {
    background-color: #EE6C4D !important;  
}

.navbar-menu {
    background-color: #293241 !important;  
}

/* ------------ Footer ------------ */

.footer {
    background: #293241 !important;
}

.footer p {
    color: #ffffff !important;
}

.footer a {
    color: #EE6C4D !important;
}

/* ------------ Modal ------------- */

.modal-card-head,
.modal-card-foot {
    background-color: #293241 !important;
}

.modal-card-title {
    color: #ffffff !important;
}

.modal a {
    color: #293241 !important;
}

.modal-card {
    border-radius: 15px;
}

/* --------- Notification --------- */

#notification {
    position: fixed;
    z-index: 1001;
    left: 0;
    right: 0;
    top: 10%;
    text-align: center;
    line-height: 1.7;
    width: 70%;
    margin: auto;
    color: #ffffff;
    opacity: 0.85;
    border-radius: 15px;
    cursor: Pointer;
}

/* ------------- Home ------------- */

#home_img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    border-radius: 10px;
}

figure:hover #home_img {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
}

figure {
	margin: 0;
	padding: 0;
    overflow: hidden;
    border-radius: 10px;
}

#search_bar {
    margin-bottom: 10vh;
}

.login .subtitle {
    margin-top: 15px;
}

#live_search_columns {
    width: 100%;
    opacity: 0.9;
    position: absolute;
    z-index: 999;
    background-color: #293241;
}

.login p, .name p {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #ffffff;
}

.login p:last-child {
    margin-bottom: 20px;
}

.login a, .name a {
    color: #EE6C4D;
    font-style: italic;
}

.no_results {
    color: #EE6C4D !important;
    font-style: italic;
}

.login hr, .name hr {
    margin: 0.5rem 0;
}

#search_user:focus {
    border: 1px solid;
    border-color: #dbdbdb !important;
    -webkit-box-shadow: 0 0 0 0em gray !important;
    box-shadow: 0 0 0 0em gray !important;
}

.last a {
    margin-bottom: 20px;
}

.user_type {
    margin-bottom : 10px !important
}


/* ------------ Account ----------- */

#account_img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    border-radius: 100%;
    object-fit: cover !important;
}

figure:hover #account_img {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
    border-radius: 100%;
}

#figure_account {
    width: 15em;
    height: 15em;
    border-radius: 100%;
}

#account_img {
    width: 15em;
    height: 15em;

}

.account_name {
    font-size: 150% !important;
    font-weight: bold !important;
    color: #293241;
}

#account_card {
    background-color: #F5F5F5;
}

.tabs.is-toggle li.is-active a {
    background-color: #293241 !important;
    border-color: #293241 !important
}

/* ------------ Profile ----------- */

#profile_img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    border-radius: 100%;
    object-fit: cover !important;
}

figure:hover #profile_img {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
    border-radius: 100%;
}

#figure_profile {
    width: 15em;
    height: 15em;
    border-radius: 100%;
}

#profile_img {
    width: 15em;
    height: 15em;

}

.profile_name {
    font-size: 150% !important;
    font-weight: bold !important;
    color: #293241;
}

#profile_card {
    background-color: #F5F5F5;
}

.tabs.is-toggle li.is-active a {
    background-color: #293241 !important;
    border-color: #293241 !important
}

.follow_tag:hover {
    cursor: Pointer;
}

#follower, #following, #photos, #like {
    cursor: Pointer;
}

/* ------------ Gallery ------------ */

.like:hover {
    cursor: Pointer;
}

.italic_desc {
    word-wrap: break-word;
    word-break: break-all;
}

.user_thumbnail {
    width: 48px !important;
    height: 48px !important;
}
 
/* ------------- Photo ------------ */

.image_card_id {
    height: 100%;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

#comment_card {
    overflow-y: auto;
    max-height: 580px;
    padding: 0px;
    word-wrap: break-word;
    word-break: break-all;
}

.image_card_id .card-footer {
    margin-top: auto;
}

.card-header-title {
    justify-content: center !important;
}

#send_message_photo {
    width: 100%;
}

.div_gray {
    background-color: #F5F5F5;
}

#list_comment div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.name_date {
    text-align: left !important;
}

/* ---------- Photo_Edit ----------- */

#cam_page {
    width: 100%;
}

#video {
    display: flex;
    width: 100%;
    background-color: #ffffff;
}

#photo_list {
    max-height: 800px;
    overflow-y: auto;
}

.cam_photo {
    cursor: Pointer;
}

.cam_menu {
    max-height: 1000px; 
}

#file_input {
    display: none;
}

#inner_container {
    position: relative;
}

.video_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

#filters_container {
    display: flex;
    height: 100%;
}

#filters {
    width: 100%;
    text-align-last: center;
}