/* Palette
https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241
3D5A80
98C1D9
E0FBFC
EE6C4D
293241
*/


/* ------------ Button ------------ */

.is-dark {
    background-color: #EE6C4D !important;
}

/* ------------ Navbar ------------ */

.navbar a {
    color: #ffffff !important;
}

.navbar-start .navbar-item:hover,
.navbar-brand .navbar-item:hover {
    background-color: #EE6C4D !important;
}

.navbar {
    background-color: #293241 !important;
}

.navbar-burger span {
    color: #fff !important;
}

nav .is-active {
    background-color: #293241 !important;  
}

/* ------------ Footer ------------ */

.footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    background: #293241 !important;
  }

.footer p {
    color: #ffffff !important;
}

.footer a {
    color: #EE6C4D !important;
}

/* ------------ Modal ------------- */

.modal-card-head,
.modal-card-foot {
    background-color: #293241 !important;
}

.modal-card-title {
    color: #ffffff !important;
}

.modal a {
    color: #293241 !important;
}

.modal-card {
    border-radius: 15px;
}

/* --------- Notification --------- */

#notification {
    position: absolute;
    z-index: 101;
    left: 0;
    right: 0;
    top: 10%;
    text-align: center;
    line-height: 1.7;
    width: 70%;
    margin: auto;
    color: #ffffff;
    opacity: 0.7;
    border-radius: 15px;
    cursor: Pointer;
}